<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="img/portfolio-1.jpg" data-lightbox="about" data-title="">
          <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
        </a>

        <h4>내가 더 나다울 수 있게 힘을 주는 사람을 만나</h4>
        <h4>우리의 세상을 만들고 싶어졌습니다.</h4>
        <br>
        <h4>그리고 마음먹었습니다.</h4>
        <br>
        <h4>이제는 많은 말들이 입혀진 '<strong>결혼</strong>'이란 명사에</h4>
        <h4>본래의 아름다움을 돌려주리라고요.</h4>
        <br>
        <h4>새롭게 우리의 세상이 시작되는 날,</h4>
        <h4>축하해 주시면 큰 힘 얻고 씩씩하게 살겠습니다.</h4>
        
        <br><br>
        <h4>김윤식 · 이문예의 아들 <strong>정걸</strong></h4>
        <h4>김영환 · 한미라의  딸  <strong>자연</strong></h4>

        <br><br>
        <h4>일시 : 10월 29일 토요일 저녁 6시</h4>
        <h4>장소 : 현대 41타워 세븐스프링스</h4>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
