<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <!-- <h2>Information</h2> -->
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/portfolio_11_m.jpg" data-lightbox="portfolio" data-title="">
                <img class="img-portfolio img-responsive" src="img/portfolio_11_s.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/portfolio_12_m.jpg" data-lightbox="portfolio" data-title="">
                <img class="img-portfolio img-responsive" src="img/portfolio_12_s.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/portfolio_13_m.jpg" data-lightbox="portfolio" data-title="">
                <img class="img-portfolio img-responsive" src="img/portfolio_13_s.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/portfolio_14_m.jpg" data-lightbox="portfolio" data-title="">
                <img class="img-portfolio img-responsive" src="img/portfolio_14_s.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/portfolio_15_m.jpg" data-lightbox="portfolio" data-title="">
                <img class="img-portfolio img-responsive" src="img/portfolio_15_s.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/portfolio_16_m.jpg" data-lightbox="portfolio" data-title="">
                <img class="img-portfolio img-responsive" src="img/portfolio_16_s.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--
        <a href="#" class="btn btn-dark">View More Items</a>
      

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
