<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 


<!-- LightBox JavaScript -->
<script src="js/lightbox.js"></script>
<!--<script src="js/lightbox-plus-jquery.js"></script>-->


<script type="text/javascript">
      function nocontext(e) {
        var clickedTag = (e==null) ? event.srcElement.tagName : e.target.tagName;
        if (clickedTag == "img")
          return false;
      }
      document.oncontextmenu = nocontext;
    </script>
